boto3==1.38.36
cfn-lint==1.36.1
ruff==0.12.0
mypy==1.16.1
pytest==8.4.1
moto==5.1.6
responses==0.25.7
pyYAML==6.0.2
-r requirements-find-new.txt
-r requirements-api.txt
-r requirements-harvest-products.txt
