boto3==1.37.13
cfn-lint==1.24.0
ruff==0.11.2
mypy==1.15.0
pytest==8.3.4
moto==5.1.1
responses==0.25.6
pyYAML==6.0.2
-r requirements-find-new.txt
-r requirements-api.txt
-r requirements-harvest-products.txt
